@font-face {
  font-family: 'MavenPro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/MavenPro-Regular.woff2') format('woff2'),
  url('/fonts/MavenPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MavenPro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/MavenPro-Bold.woff2') format('woff2'),
  url('/fonts/MavenPro-Bold.woff') format('woff');
}

@font-face {
  font-family: 'FiraCode';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2'),
  url('/fonts/FiraCode-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FiraCode';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/FiraCode-Bold.woff2') format('woff2'),
  url('/fonts/FiraCode-Bold.woff') format('woff');
}
